{{set root=".."}}
{{set pageId="admin"}}
{{>header title="Pi-story-Admin" cssName="admin"}}

<section class="login">
	<div class="input-area">
		<input id="member-id" type="text" placeholder="ID">
		<input id="member-pw" type="password" placeholder="Password">
	</div>
	<button class="btn-login">Log In</button>
</section>

{{>footer jsName="admin"}}
