{{set root=".."}}
{{set pageId="admin"}}
{{>header title="Pi-story-admin" cssName="admin"}}

<section class="admin-body">
	<section class="category">

	</section>
	<section class="project">

	</section>

</section>

{{>footer jsName="admin"}}
